
@{
    ViewBag.Title = "Lista";
}
<link href="~/Content/Lista.css" rel="stylesheet" />


<h2>Elenco Prenotazioni</h2>
<div class="table-container">
    <table class="center-table">
        <tr>
            <th>Data</th>
            <th>Servizio</th>
            <th>Nome</th>
            <th>Stato</th>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Prenotazione.Data</td>
                <td>@p.NomeServizio</td>
                <td>@p.Username</td>
                <td>
                    @if (@p.Prenotazione.Fine < DateTime.Now)
                    {
                        <span class="prenotazione-passata">Prenotazione passata</span>
                    }
                    else
                    {
                        <a href="@Url.Action("Edit", new { id = p.Prenotazione.IdPrenotazione })" class="btn btn-warning">Modifica</a>
                    }
                </td>
            </tr>
        }
    </table>
    </div>


